<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

	<!-- 회원정보 가져오기 -->
	<select id="selectUserInfo" parameterType="int"
		resultType="usersvo">
		select * from users where uno=${uno}
	</select>

	<!-- 회원탈퇴 -->
	<delete id="deleteUser" parameterType="int">
		delete from users where
		uno=${uno}
	</delete>

	<!-- 회원정보 수정 -->
	<update id="userInfoUpdate" parameterType="usersvo">
		update users set
		uname='${uName}', ubirth='${uBirth}', uemail='${uEmail}',
		ugender='${uGender}', uphone='${uPhone}', uImg='${uImg}' where
		uno=${uNo}
	</update>

	<!-- 비밀번호 변경 -->
	<update id="pwdUpdate" parameterType="usersvo">
		update users set
		upwd='${uPwd}' where uno=${uno}
	</update>
	
	<!-- 예약숙소 ResultMap -->
	<resultMap type="hvo" id="houseRoomReservationR">
		<id property="hNo" column="hno" javaType="int"/>
		<result property="hName" column="hname"/>
		<result property="hImg1" column="himg1"/>
		<collection property="roomVO" javaType="java.util.List" resultMap="roomReservationR" ofType="roomvo"/>
	</resultMap>
	<resultMap type="roomvo" id="roomReservationR">
		<id property="rNo" column="rno"/>
		<result property="rName" column="rname"/>
		<result property="rPrice" column="rprice"/>
		<collection property="reservationVO" javaType="java.util.List" resultMap="reservationR" ofType="reservationvo"/>
	</resultMap>
	<resultMap type="reservationvo" id="reservationR">
		<id property="rvNo" column="rvno"/>
		<result property="day" column="day"/>
		<result property="rvPeople" column="rvpeople"/>
	</resultMap>


	<!-- 예약 숙소 가져오기 -->
	<select id="selectReservation" parameterType="int" resultMap="houseRoomReservationR">
		select
		h.hno,h.hname,h.himg1,r.rno,r.rname,r.rprice,rv.rvno,rv.enddate-rv.startdate day,rv.rvpeople
		from house h, room r, reservation rv
		where h.hno=r.hno and r.rno=rv.rno and rv.uno=${uno}
	</select>
</mapper>